@use './colorsModule' as color; //importo il modulo dei colori rinominandolo "color" per quando bisognerà richiamarlo

@use './fontModule' as font; //importo il modulo dei fonts

@use './functionModule' as function;

@use './inputModule' as input;

@use './buttons' as buttons;

@use './cards' as card;

@use './Sezione2';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font.$fontFamily;
}
body {
    overflow-x:hidden;
}