$mainPurple : #9a6aff;
$buttonBlue :  #1fc7d4;
$orangeVarious: #ffb237;
$mainBlack : #27262c;
$fontFamily: "Kanit";
$fontLightWeight : 400;
$fontHeavyWeight : 600;

@mixin DivColorShow($color) {
    height: convertpx(40px);
    width: convertpx(40px);
    border-radius: 100%;
    background-color: $color ;
}

@function convertpx($pxinput){
    @return calc($pxinput / 16px) + rem;
}
@mixin button {
    align-items: center;
    border: 0px;
    border-radius: convertpx(16px);
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: convertpx(16px);
    font-weight: $fontHeavyWeight;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: convertpx(48px);
    padding: 0px convertpx(24px);
    background-color: $buttonBlue;
    color: white;
    margin-right: convertpx(8px);
}
@mixin card {
    width: convertpx(300px);
    height: convertpx(150px);
    overflow: inherit;
    background: rgb(39, 38, 44);
    border-radius: convertpx(24px);
}
@mixin cardNewestArrivals {
    @include card;
    height: convertpx(24px);
    width: convertpx(302px);
    line-height: convertpx(24px);

}
@mixin cardNFT {
    @include card;
    border-bottom-left-radius: 30%;
}

.card {
    @include card;
    @include cardNFT;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: convertpx(20px);
    background-color: lightblue;

        aside{
            background-color: white;
            width: convertpx(420px);
            height: convertpx(250px);

            &.first{

               div.color{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                

                    >p{
                        align-self: center;
                        font-weight: bold;
                    }

                    >div{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                            
                            p{
                                margin: 0%;
                                font-size: convertpx(14px);
                                font-family: $fontFamily;
                                font-weight: $fontHeavyWeight;
                                span{
                                    font-size: convertpx(13px);
                                    color: gray;
                                    font-size: $fontLightWeight;
                                }
                            }

                            div.purple{
                                margin: 0 convertpx(5px) convertpx(3px) convertpx(3px);                               
                                @include DivColorShow($mainPurple);
                            }
                            div.blue{
                                margin: 0 convertpx(5px) convertpx(3px) convertpx(3px);
                                @include DivColorShow($buttonBlue);
                            }
                            div.orange{
                                margin: 0 convertpx(5px) convertpx(3px) convertpx(3px);
                                @include DivColorShow($orangeVarious);
                            }
                            div.black{
                                margin: 0 convertpx(5px) convertpx(3px) convertpx(3px);
                                @include DivColorShow($mainBlack);

                            }
                    }

               }

            }

            &.third{
                height: convertpx(520px);
            }
        }
}

/*Inizio parte Icons -- Massimo Caser --*/

aside {
    &.third {
        div.icon {
            margin: 0 1rem;
            
            >p{
                text-align: center;
                font-weight: bold;
            }
        }
        div.container-icons {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }
        path.color-svg {
            fill: red;
        }
    }
}

/*Fine parte Icons -- Massimo Caser --*/
